*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}

body {
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(60deg , #ebe9ee, #bb8ad7, #ffffff, #08e761); */
    
}

/*Top (Welcome to my Portfolio)========================================================================== */
#intro {
    height: 200px;
    justify-content: center;
    align-items: center;
}

#intro h3, h1, h5 {
    text-align: center;
    padding-top: 10px;  
}

#intro h1 {
    padding-top: 45px;
}

/* Navigation Bar======================================================================================== */
header {
    position: sticky;
    top: 0;
    margin: auto;
}

nav {
    width: auto;
    height: 50px;
    background: linear-gradient(30deg, #090088, #02006c, #03002e, #010048, #010057);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    border: 15px #000000;
}

nav a {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span {
    position: absolute;
    top: 0;
    left: 174px;
    height: 100%;
    background: linear-gradient(45deg, #ff0000, #bf0000, #400000);
    border-radius: 8px;
    transition: .5s;
    
}

nav a:nth-child(1):hover~span {
    left: 190px;
    width: 120px;
}

nav a:nth-child(2):hover~span {
    left: 330px;
    width: 160px;
}

nav a:nth-child(3):hover~span {
    left: 518px;
    width: 100px;
}

nav a:nth-child(4):hover~span {
    left: 643px;
    width: 180px;
}

nav a:nth-child(5):hover~span {
    left: 845px;
    width: 155px;
}

nav a:nth-child(6):hover~span {
    left: 1020px;
    width: 140px;
}

/*Footer=============================================================================================== */

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    border: 15px #bf0000;
}