*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
}

body {
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(60deg , #ebe9ee, #bb8ad7, #ffffff, #08e761); */
    
}

/*Top (Welcome to my Portfolio)========================================================================== */
#intro {
    height: 900px;
    /* justify-content: center; */
    /* align-items: center; */
    /* background: yellow; */
    display: block;
    background: linear-gradient(90deg, #d93131, #b90000, #80082a, #550735, #08063c);
    
    
}

.socials {
    padding-top: 1%;
    margin-top: 0;
    width: 800px;
    /* background: orange; */
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    margin-left: 850px;
}

.socials a {
    display: inline-block;
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 30px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
}

.socials a::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    transition: width 0.3s;
}

.socials a:hover::after {
    width: 50%;
}

.socials img {
    height: 25px;
    width: 25px;
    display: inline;
    align-items: center;
}

.introduction {
    width: 800px;
    /* background-color: aliceblue; */
    height: 570px;
    margin-left: 80px;
    text-align: center;
    padding-top: 30px; 
    
}

.introduction h1 {
    color: rgb(255, 255, 255);
    font-size: 75px;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(media/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.introduction h2 {
    padding-top: 140px;
    color: rgb(255, 255, 255);
}

.introduction h5 {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.introduction p {
    padding-top: 20px;
    color: rgb(255, 255, 255);
}

.intro-container {
    display: flex;
    position: relative;
}

.image {
    margin-top: 80px;
    margin-left: 150px;
    height: 550px;
    width: 550px;
    background: #202122;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.image::before {
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg, #fafafa, #6300d4, #4cec08, #ff0404);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg);
    }
    0%
    {
        transform: rotate(360deg);
    }
}

.image:hover::before {
    inset: -20px 0;
}

.image::after {
    content: '';
    position: absolute;
    inset: 6px;
    background: #162052;
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 30px;
    border: 6px solid #000000;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.image:hover .content img {
    opacity: 0;
}

.content h2 {
    position: relative;
    font-size: 2em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}



/* Navigation Bar======================================================================================== */
header {
    position: sticky;
    top: 0;
    bottom: 0;
    margin: auto;
}

nav {
    width: auto;
    height: 70px;
    background: linear-gradient(30deg, #090088, #02006c, #03002e, #010048, #010057);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 10px; */
    border: 15px #000000;
}

nav a {
    display: inline-block;
    position: relative;
    font-size: 1.7em;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav a::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 120%;
    background: linear-gradient(45deg, #ff0000, #bf0000, #400000);
    border-radius: 8px;
    transition: width .5s;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

nav a:hover::after {
    width: 95%;
}

/* nav a:nth-child(1):hover~span {
    left: 190px;
    width: 120px;
}

nav a:nth-child(2):hover~span {
    left: 330px;
    width: 160px;
}

nav a:nth-child(3):hover~span {
    left: 518px;
    width: 100px;
}

nav a:nth-child(4):hover~span {
    left: 643px;
    width: 180px;
}

nav a:nth-child(5):hover~span {
    left: 845px;
    width: 155px;
}

nav a:nth-child(6):hover~span {
    left: 1020px;
    width: 140px;
} */

/*Footer=============================================================================================== */

footer {
    text-align: center;
    /* position: sticky;
    bottom: 0; */
    border: 15px #bf0000;
}